In [2]:
import pandas as pd
import numpy as np

In [120]:
df_pesquisa = pd.read_csv("pesquisa de pessoas.csv")

# Tratamento dos dados

In [121]:
df_pesquisa.head(5)

,Unnamed: 0,Nome,Endereerço,Cidade,Estado,phone,anual_income,Estado Civil,AAge,n_filhos,Moradia,Food_restrictions,streaming,diariamente_sun blocker,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,S,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [122]:
# Dropa colunas desnecessárias
df_pesquisa = df_pesquisa.drop(['Unnamed: 0'], axis=1)

In [123]:
# Renomeia colunas 

df_pesquisa = df_pesquisa.rename(columns={
                'Endereerço': 'Endereço',
                'phone': 'Telefone',
                'anual_income': 'Renda anual',
                'AAge': 'Idade',
                'n_filhos': 'Qntd de filhos',
                'Food_restrictions': 'Restrição alimentar',
                'diariamente_sun blocker': 'Utiliza protetor solar'
})

Expressão regular: O **\W** equivale a [^a-zA-Zà-úÀ-Ú0-9_].

Corresponde a todos os caracteres que não são letras maiusculas ou minusculas.

In [124]:
# Remoção de caracteres especiais da coluna de nome
# Expressão regular: O **\W** equivale a [^a-zA-Zà-úÀ-Ú0-9_]. Corresponde a todos os caracteres que não são letras maiusculas ou minusculas substituido por ''

df_pesquisa['Nome'] = df_pesquisa['Nome'].str.replace('[^a-zA-Zà-úÀ-Ú0 ]','')

C:\Users\znaya\AppData\Local\Temp\ipykernel_12620\2534833219.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df_pesquisa['Nome'] = df_pesquisa['Nome'].str.replace('[^a-zA-Zà-úÀ-Ú0 ]','')

In [125]:
# Organização da coluna de telefone
# Expressão regular que substitui todos os caracteres que não são numeros de 0-9 sinal de + e - por *

df_pesquisa['Telefone'] = df_pesquisa['Telefone'].str.replace('[^(0-9) +-]','*')

C:\Users\znaya\AppData\Local\Temp\ipykernel_12620\2288393584.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df_pesquisa['Telefone'] = df_pesquisa['Telefone'].str.replace('[^(0-9) +-]','*')

In [126]:
# Remoção de telefones com menos de 10 numeros setado como * na organização da coluna
df_pesquisa['Telefone'].str.contains('\*')

0     False
1       NaN
2       NaN
3       NaN
4      True
5     False
6     False
7      True
8     False
9       NaN
10      NaN
11    False
12      NaN
13    False
14     True
15      NaN
16    False
17    False
18    False
19      NaN
20    False
21      NaN
22     True
23    False
24    False
25    False
26      NaN
27    False
28      NaN
29    False
30      NaN
31    False
32    False
33     True
34    False
35    False
36     True
Name: Telefone, dtype: object

In [127]:
df_pesquisa.loc[(df_pesquisa['Telefone'].notna()) & (df_pesquisa['Telefone'].str.contains('\*')), 'Telefone'] = np.nan # Transforma os valores nan em False e transforma em Nan apenas os valores que possuem * se não excluir Nan ocorre o erro Cannot mask with non-boolean array containing NA / NaN values

# df_pesquisa.loc[df_pesquisa.str.contains('\*', na=False), 'Telefone'] = np.nan

In [128]:
df_pesquisa.head(6)

,Nome,Endereço,Cidade,Estado,Telefone,Renda anual,Estado Civil,Idade,Qntd de filhos,Moradia,Restrição alimentar,streaming,Utiliza protetor solar,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,S,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,NaN,53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com
5,Sra Ana Júlia Castro,"Parque Olivia da Mata, 32",Nogueira dos Dourados,Rondônia,+55 (084) 4591-2403,54503.0,Solteiro,29.0,NaN,Aluguel,NaN,Netflix e HBO,NaN,Sim,Não,Sim,5.0,Marcelo Melo,sraanajliacastro740@gemeil.com

In [129]:
# Padronização da coluna Estado Civil

df_pesquisa['Estado Civil'].value_counts()

Divorciado    6
Solteiro      5
Casado        3
D             3
Viúvo         3
S             2
V             2
C             1
Name: Estado Civil, dtype: int64

In [130]:
df_pesquisa['Estado Civil'] = df_pesquisa['Estado Civil'].replace({
            'D': 'Divorciado',
            'S': 'Solteiro',
            'V': 'Viúvo',
            'C': 'Casado'
    
})

In [131]:
df_pesquisa['Estado Civil'].value_counts()

Divorciado    9
Solteiro      7
Viúvo         5
Casado        4
Name: Estado Civil, dtype: int64

In [132]:
df_pesquisa['Moradia'].value_counts()

Quitada          11
De favor          6
Aluguel           6
Financiamento     5
Name: Moradia, dtype: int64

# Cases

#### Cenário 1:

A empresa Carri Construtora contratou a empresa que você trabalha para encontrar possíveis compradores para o seus novos empreendimentos.

A empresa quer entender as necessidades dos clientes, e quer informações com:

*   Quais cliente devemos abordar;
*   Qual empreendimento nós devemos mostrá-los;
*   Esse cliente está em busca em investir em um imóvel ou comprar para moradia?


 Se renda anual > 50 mil = pode participar do Minha casa minha vida

In [ ]:
# Quais cliente devemos abordar: Movel quitado e financiado=investimento; Movel alugado, de favor=Moradia
# Seleção apenas de clientes com Renda anual > 50

In [133]:
df_pesquisa.columns

Index(['Nome', 'Endereço', 'Cidade', 'Estado', 'Telefone', 'Renda anual',
       'Estado Civil', 'Idade', 'Qntd de filhos', 'Moradia',
       'Restrição alimentar', 'streaming', 'Utiliza protetor solar',
       'Vai na Praia Mensalmente', 'Faz Academia',
       'Compra e Lê Livros Todos os Anos', 'Quantidade de Livros Comprados',
       'Autor Favorito', 'email'],
      dtype='object')

In [134]:
# Remover os dados que não importam para o negócio
df_construct = df_pesquisa.drop(['Restrição alimentar','streaming','Utiliza protetor solar','Compra e Lê Livros Todos os Anos','Quantidade de Livros Comprados',
       'Autor Favorito'], axis=1)
df_construct.head(5)

,Nome,Endereço,Cidade,Estado,Telefone,Renda anual,Estado Civil,Idade,Qntd de filhos,Moradia,Vai na Praia Mensalmente,Faz Academia,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Não,Sim,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,Não,Sim,daviluccapereira933@exemplo.com
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,Financiamento,Não,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Não,Não,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,NaN,53295.0,Casado,60.0,5.0,Financiamento,Sim,NaN,pedromoreira622@gemeil.com

In [135]:
# Seleção de clientes apenas com renda anual maior que 50 mil
df_construct = df_construct.loc[df_construct['Renda anual'] > 50000]

In [137]:
df_construct.shape

(20, 13)

In [138]:
# Abordar clientes com moveis quitados e financiados para investimento
df_construct['Investimento'] = np.where((df_construct['Moradia'] == 'Quitada') | (df_construct['Moradia'] == 'Financiamento'), True, False)

In [140]:
df_construct.head(5)

,Nome,Endereço,Cidade,Estado,Telefone,Renda anual,Estado Civil,Idade,Qntd de filhos,Moradia,Vai na Praia Mensalmente,Faz Academia,email,Investimento
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Não,Sim,mariaclaranovaes285@gemeil.com,True
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Não,Não,kaiqueazevedo731@rotmail.com,True
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,NaN,53295.0,Casado,60.0,5.0,Financiamento,Sim,NaN,pedromoreira622@gemeil.com,True
5,Sra Ana Júlia Castro,"Parque Olivia da Mata, 32",Nogueira dos Dourados,Rondônia,+55 (084) 4591-2403,54503.0,Solteiro,29.0,NaN,Aluguel,Sim,Não,sraanajliacastro740@gemeil.com,False
7,Sra Ana Sophia Vieira,"Esplanada de Mendes, 72",NaN,NaN,NaN,93976.0,NaN,50.0,4.0,Aluguel,Não,NaN,sraanasophiavieira974@gemeil.com,False

In [141]:
# Abordar clientes com Movel alugado ou de favor para moradia
df_construct['Compra p/ Morar']  = np.where((df_construct['Moradia'] == 'Aluguel') | (df_construct['Moradia'] == 'De favor'), True, False)
df_construct

,Nome,Endereço,Cidade,Estado,Telefone,Renda anual,Estado Civil,Idade,Qntd de filhos,Moradia,Vai na Praia Mensalmente,Faz Academia,email,Investimento,Compra p/ Morar
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Não,Sim,mariaclaranovaes285@gemeil.com,True,False
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Não,Não,kaiqueazevedo731@rotmail.com,True,False
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,NaN,53295.0,Casado,60.0,5.0,Financiamento,Sim,NaN,pedromoreira622@gemeil.com,True,False
5,Sra Ana Júlia Castro,"Parque Olivia da Mata, 32",Nogueira dos Dourados,Rondônia,+55 (084) 4591-2403,54503.0,Solteiro,29.0,NaN,Aluguel,Sim,Não,sraanajliacastro740@gemeil.com,False,True
7,Sra Ana Sophia Vieira,"Esplanada de Mendes, 72",NaN,NaN,NaN,93976.0,NaN,50.0,4.0,Aluguel,Não,NaN,sraanasophiavieira974@gemeil.com,False,True
8,Davi Nascimento,"Rua da Paz, 72",Duarte,NaN,+55 51 6868 3666,65384.0,Divorciado,60.0,2.0,Aluguel,Sim,Sim,dav4inascimento856@rotmail.com,False,True
11,Joana Rezende,Recanto Oliveira,Caldeira,NaN,0900 093 9760,71627.0,Divorciado,63.0,2.0,Quitada,Sim,Não,joanarezende680@gemeil.com,True,False
12,Dra Letícia Ribeiro,"Quadra Campos, 40",Jesus Paulista,NaN,NaN,67068.0,Casado,22.0,NaN,NaN,NaN,Sim,draletciaribeiro370@rotmail.com,False,False
13,Beatriz Azevedo,NaN,Costela da Praia,Santa Catarina,81 2891-7504,86389.0,Solteiro,33.0,2.0,De favor,Sim,NaN,beatrizazevedo858@gemeil.com,False,True
16,Augusto Rocha,"Ladeira Luana Pires, 177",Silveira de da Luz,NaN,41 5504 8546,95433.0,NaN,54.0,5.0,Quitada,NaN,Não,augustorocha201@gemeil.com,True,False
20,Ana Alves,"Lago de Caldeira, 9",Caldeira,Paraíba,51 5882 5998,86973.0,Divorciado,18.0,NaN,NaN,Não,NaN,anaalves702@rotmail.com,False,False
22,Samuel Jesus,"Condomínio Ribeiro, 55",NaN,Bahia,NaN,93085.0,Viúvo,52.0,NaN,Financiamento,Sim,Sim,samueljesus456@gemeil.com,True,False
23,Beatriz Ramos,NaN,Fernandes,Tocantins,+55 (021) 4719 9862,71448.0,NaN,34.0,2.0,De favor,Sim,NaN,beatrizramos384@gemeil.com,False,True
27,Lorena Cardoso,NaN,Monteiro do Galho,Pernambuco,84 6014-5325,92410.0,Divorciado,39.0,0.0,Quitada,Sim,Sim,lorenacardoso729@rotmail.com,True,False
30,Isadora Cardoso,"Sítio Fernandes, 47",Castro,Bahia,NaN,50056.0,NaN,30.0,1.0,NaN,Sim,Sim,isadoracardoso853@gemeil.com,False,False
31,Igor Ferreira,"Quadra de da Mata, 49",NaN,NaN,21 0712-6859,77504.0,Divorciado,NaN,2.0,Aluguel,Não,NaN,igorferreira546@exemplo.com,False,True
32,Sabrina Nunes,Quadra da Luz,Novaes da Mata,Pará,+55 51 2213 5603,56484.0,NaN,57.0,2.0,De favor,Sim,NaN,sabrinanunes864@exemplo.com,False,True
33,Pedro Miguel Silva,"Residencial de Rodrigues, 97",NaN,Distrito Federal,NaN,88600.0,NaN,67.0,5.0,Quitada,Não,NaN,pedromiguelsilva613@exemplo.com,True,False
35,Daniel Rodrigues,"Loteamento Mendes, 72",Sales de Rodrigues,Mato Grosso,(061) 5002 3548,76000.0,Divorciado,64.0,3.0,Quitada,NaN,Não,danielrodrigues211@gemeil.com,True,False
36,Isis Silva,"Vila da Mota, 6",da Luz da Prata,Rondônia,NaN,61280.0,NaN,62.0,4.0,Financiamento,Não,Não,isissilva623@exemplo.com,True,False

#### Cenário 2: 

Uma empresa chamada Hillo, é uma empresa que está estudando o mercado e quer encontrar uma parceria com uma empresa de Streeming (netflix, Disney plus etc), mas gostaria de saber quais as empresas dariam o maior retorno de investimento.

Eles podem fazer análise de machine learning também com esses dados.

In [145]:
df_hillo = df_pesquisa[['Nome','Idade','Qntd de filhos','streaming']]
df_hillo.head(5)

                 Nome  Idade  Qntd de filhos   streaming
0  Maria Clara Novaes   43.0             NaN  Globo Play
1  Davi Lucca Pereira    NaN             0.0       Todos
2    Sr Caio Caldeira   60.0             NaN         NaN
3      Kaique Azevedo   26.0             4.0         NaN
4       Pedro Moreira   60.0             5.0  Globo Play

In [146]:
df_hillo['streaming'].value_counts()

Globo Play          5
Nenhum              4
Todos               3
HBO                 3
Crunchyroll         2
Disney Plus         2
Netflix e HBO       1
Netflix e Disney    1
Netflix             1
Name: streaming, dtype: int64

In [148]:
# Ajustando categorias para ML, one-hot encoding

df_hillo.loc[df_hillo['streaming'] == 'Todos', 'streaming'] = 'Globo Play e HBO e Crunchyroll e Disney Plus e Netflix' 
df_hillo['streaming'].value_counts()

Globo Play                                                5
Nenhum                                                    4
Globo Play e HBO e Crunchyroll e Disney Plus e Netflix    3
HBO                                                       3
Crunchyroll                                               2
Disney Plus                                               2
Netflix e HBO                                             1
Netflix e Disney                                          1
Netflix                                                   1
Name: streaming, dtype: int64

In [162]:
df_hillo['streaming'] = df_hillo['streaming'].replace({
    'Netflix e Disney': 'Netflix e Disney Plus'
})
df_hillo['streaming'].value_counts()

C:\Users\znaya\AppData\Local\Temp\ipykernel_12620\4145879196.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hillo['streaming'] = df_hillo['streaming'].replace({

Globo Play                                                5
Nenhum                                                    4
Globo Play e HBO e Crunchyroll e Disney Plus e Netflix    3
HBO                                                       3
Crunchyroll                                               2
Disney Plus                                               2
Netflix e HBO                                             1
Netflix e Disney Plus                                     1
Netflix                                                   1
Name: streaming, dtype: int64

In [164]:
df_encoded = df_hillo['streaming'].str.get_dummies(sep=' e ')

In [165]:
df_hillo = pd.concat([df_hillo,df_encoded], axis=1)
df_hillo

,Nome,Idade,Qntd de filhos,streaming,Crunchyroll,Disney Plus,Globo Play,HBO,Nenhum,Netflix
0,Maria Clara Novaes,43.0,NaN,Globo Play,0,0,1,0,0,0
1,Davi Lucca Pereira,NaN,0.0,Globo Play e HBO e Crunchyroll e Disney Plus e...,1,1,1,1,0,1
2,Sr Caio Caldeira,60.0,NaN,NaN,0,0,0,0,0,0
3,Kaique Azevedo,26.0,4.0,NaN,0,0,0,0,0,0
4,Pedro Moreira,60.0,5.0,Globo Play,0,0,1,0,0,0
5,Sra Ana Júlia Castro,29.0,NaN,Netflix e HBO,0,0,0,1,0,1
6,Erick Carvalho,26.0,NaN,NaN,0,0,0,0,0,0
7,Sra Ana Sophia Vieira,50.0,4.0,NaN,0,0,0,0,0,0
8,Davi Nascimento,60.0,2.0,Crunchyroll,1,0,0,0,0,0
9,Juan da Mota,NaN,4.0,Nenhum,0,0,0,0,1,0
10,Stephany Pinto,65.0,5.0,HBO,0,0,0,1,0,0
11,Joana Rezende,63.0,2.0,Nenhum,0,0,0,0,1,0
12,Dra Letícia Ribeiro,22.0,NaN,Disney Plus,0,1,0,0,0,0
13,Beatriz Azevedo,33.0,2.0,Globo Play e HBO e Crunchyroll e Disney Plus e...,1,1,1,1,0,1
14,André Monteiro,NaN,NaN,NaN,0,0,0,0,0,0
15,João Guilherme Porto,78.0,NaN,Netflix e Disney Plus,0,1,0,0,0,1
16,Augusto Rocha,54.0,5.0,NaN,0,0,0,0,0,0
17,Srta Isabelly da Rocha,NaN,1.0,NaN,0,0,0,0,0,0
18,Heloísa Santos,26.0,NaN,NaN,0,0,0,0,0,0
19,Calebe Azevedo,NaN,NaN,Globo Play,0,0,1,0,0,0
20,Ana Alves,18.0,NaN,NaN,0,0,0,0,0,0
21,Maria Fernanda Ribeiro,NaN,3.0,Nenhum,0,0,0,0,1,0
22,Samuel Jesus,52.0,NaN,NaN,0,0,0,0,0,0
23,Beatriz Ramos,34.0,2.0,Nenhum,0,0,0,0,1,0
24,Dr Davi Cunha,40.0,NaN,Disney Plus,0,1,0,0,0,0
25,Enrico Cavalcanti,25.0,NaN,NaN,0,0,0,0,0,0
26,Raquel Moura,42.0,4.0,NaN,0,0,0,0,0,0
27,Lorena Cardoso,39.0,0.0,NaN,0,0,0,0,0,0
28,Diogo Caldeira,36.0,4.0,Netflix,0,0,0,0,0,1
29,Maria Gonçalves,47.0,NaN,Globo Play e HBO e Crunchyroll e Disney Plus e...,1,1,1,1,0,1
30,Isadora Cardoso,30.0,1.0,Globo Play,0,0,1,0,0,0
31,Igor Ferreira,NaN,2.0,HBO,0,0,0,1,0,0
32,Sabrina Nunes,57.0,2.0,HBO,0,0,0,1,0,0
33,Pedro Miguel Silva,67.0,5.0,NaN,0,0,0,0,0,0
34,Dra Clarice da Conceição,31.0,NaN,NaN,0,0,0,0,0,0
35,Daniel Rodrigues,64.0,3.0,Globo Play,0,0,1,0,0,0
36,Isis Silva,62.0,4.0,Crunchyroll,1,0,0,0,0,0

In [166]:
df_hillo = df_hillo.drop('streaming', axis=1)

In [167]:
df_hillo.head(5)

,Nome,Idade,Qntd de filhos,Crunchyroll,Disney Plus,Globo Play,HBO,Nenhum,Netflix
0,Maria Clara Novaes,43.0,NaN,0,0,1,0,0,0
1,Davi Lucca Pereira,NaN,0.0,1,1,1,1,0,1
2,Sr Caio Caldeira,60.0,NaN,0,0,0,0,0,0
3,Kaique Azevedo,26.0,4.0,0,0,0,0,0,0
4,Pedro Moreira,60.0,5.0,0,0,1,0,0,0

#### Cenário 3:

Uma influenciadora digital de bem estar gostaria de analisar possíveis empreendimentos dentro de diferentes propostas que recebe.

In [168]:
df_pesquisa.columns

Index(['Nome', 'Endereço', 'Cidade', 'Estado', 'Telefone', 'Renda anual',
       'Estado Civil', 'Idade', 'Qntd de filhos', 'Moradia',
       'Restrição alimentar', 'streaming', 'Utiliza protetor solar',
       'Vai na Praia Mensalmente', 'Faz Academia',
       'Compra e Lê Livros Todos os Anos', 'Quantidade de Livros Comprados',
       'Autor Favorito', 'email'],
      dtype='object')

In [177]:
df_health = df_pesquisa[['Nome','Idade','Restrição alimentar','Utiliza protetor solar', 'Vai na Praia Mensalmente','Faz Academia','Compra e Lê Livros Todos os Anos', 'Quantidade de Livros Comprados',
       'Autor Favorito','email']]

In [178]:
fitness = df_health[['Nome','Idade','Restrição alimentar','Faz Academia','email']]

In [174]:
fitness['Faz Academia'].value_counts()

Não    11
Sim    10
Name: Faz Academia, dtype: int64

In [180]:
fitness = fitness.loc[fitness['Faz Academia'] == 'Sim']

In [183]:
fitness.shape

(10, 5)

In [184]:
verao = df_health[['Nome','Idade','Utiliza protetor solar', 'Vai na Praia Mensalmente','email']]

In [186]:
verao['Vai na Praia Mensalmente'].value_counts()

Sim    18
Não    11
Name: Vai na Praia Mensalmente, dtype: int64

In [193]:
verao = verao.loc[(verao['Utiliza protetor solar']  == 'Sim') & (verao['Vai na Praia Mensalmente']  == 'Sim')]

In [194]:
verao.shape

(5, 5)

In [195]:
leitura = df_health[['Nome','Idade','Compra e Lê Livros Todos os Anos', 'Quantidade de Livros Comprados',
       'Autor Favorito','email']]

In [200]:
leitura = leitura.loc[(leitura['Compra e Lê Livros Todos os Anos'] == 'Sim') & (leitura['Quantidade de Livros Comprados'] >= 6)]

In [203]:
leitura.shape

(4, 6)